@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');



:root {
    --fonte1: Verdana, 'Geneva', Tahoma, sans-serif;
    --fonte2: 'Passion One', 'cursive';
    --fonte3: 'Sriracha', 'cursive';
}

header {
    height: 250px;
    background-color: black;
    color: white;
}

 h1 {
    font: normal bold 5em var(--fonte2);
}